* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(245, 203, 0);
    padding: 10px 0 10px 0;
}

ul {
    display: flex;
    list-style: none;
    gap: 37px;
}

.how-happy {
    display: flex;
    gap: 120px;
    width: 100%;
}

.how-happy img {
    max-width: 50%;
    height: auto;
    margin: 77px 0 0 82px;
}

.text-happy {
    margin-top: 145px;
    width: 22%;
}

h1 {
    font-size: 73px;
    font-family: fantasy;
    font-weight: 100;
}

.btn-more {
    border: none;
    width: 152px;
    height: 40px;
    font-weight: 800;
    font-size: initial;
    color: black;
    background-color: rgb(245, 203, 0);
}

.can-help {
    background-color: rgb(245, 203, 0);
    display: flex;
    padding-top: 230px;
    flex-direction: column;
}

.text-help {
    width: 30%;
    margin: 143px 0 0 98px;
}

.text-help p {
    width: 59%;
}

#color-btn-more {
    background-color: black;
    color: white;
    font-weight: 200;
}

.happiness-content {
    filter: drop-shadow(14px 15px 14px rgb(88, 88, 88));
    display: flex;
    align-items: flex-start;
    gap: 48px;
    width: 65%;
    margin: 93px auto 93px auto;
    background-color: rgb(230, 230, 230);
}

#img-happi1 {
    width: 610px;
}

.happiness-text {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.happiness-text p {
    width: 68%;
}

h2 {
    padding-top: 49px;
    color: rgb(245, 203, 0);
    font-weight: bolder;
    font-size: 70px;
}

.about {
    display: flex;
    justify-content: center;
    background-color: black;
}

.about p {
    color: white;
    width: 53%;
    text-align: center;
}

.text-about {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 62px;
}

.our-team {
    gap: 73px;
    padding-left: 30px;
    margin: 120px 0 124px 0;
    justify-content: flex-end;
    display: flex;
}



.text-team {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 38px;
}

.text-team p {
    width: 39%;
}

h3 {
    font-family: fantasy;
    font-weight: unset;
    font-size: 64px;
}

.method {
    display: flex;
    justify-content: space-around;
    gap: 119px;
    background-color: rgb(230, 230, 230);
    padding: 103px 0 103px 0;
}

.text-method {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 28%;
}

.text-method p {
    width: 73%;
}

.suscribe-father {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 98px;
    padding: 115px 0 157px 132px;
}

.suscribe-form {
    background-color: black;
    color: white;
    max-width: 575px;
    max-height: 573px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 65px 0 45px 0;
}

.suscribe-form p {
    width: 82%;
    font-size: 13px;
}

.names {
    display: flex;
    gap: 12px;
}

#name,
#surname {
    width: 222px;
    height: 33px;
    background-color: black;
    border: solid white;
}

#email,
#password,
#text {
    width: 474px;
    height: 33px;
    background-color: black;
    border: solid white;
}

.text1 {
    height: 152px !important;
}

h4 {
    width: 49%;
    font-size: 44px;
    color: rgb(245, 203, 0);
}

.text-suscribe {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-suscribe p {
    width: 39%;
}

.contact {
    background-color: rgb(245, 203, 0);
}

h5 {
    font-size: 50px;
    font-family: monospace;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding: 59px 0 57px 0;
}

.end {
    padding: 62px 0 155px 57px;
    background-color: black;
    color: rgb(245, 203, 0);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 127px;
}

.content-end {
    display: flex;
    gap: 50px;
}

.list-1 ul,
.list-2 ul {
    display: flex;
    flex-direction: column;
    gap: 0;
    font-weight: bold;
}

.line {
    background-color: white;
    width: 95%;
    height: 1px;
    margin: auto;
}

footer {
    color: rgb(245, 203, 0);
    background-color: black;
}

.content-footer {
    padding: 57px 54px 69px 57px;
    display: flex;
    justify-content: space-between;
}

.content-footer img {
    filter: invert(76%) sepia(97%) saturate(471%) hue-rotate(0deg);
}

.img-footer {
    display: flex;
    gap: 24px;
}

.happiness-numb {
    background-color: rgb(230, 230, 230);
    display: flex;
    max-width: 70%;
    height: 404px;
    margin: 0 auto;
    position: relative;
    align-items: center;
    top: 216px;
    padding-left:  72px;
}

.text-numb {
    width: 54%;
}

.text-numb h2 {
    width: 67%;
    padding: 0;
}

.text-numb p {
    width: 37%;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.img-numb {
    display: flex;
    gap: 60px;
    max-width: 35%;
}

.img-help {
    display: flex;
    justify-content: center;
    max-width: 50%;
    translate: 538px -220px;
}

#img-help {
    max-width: 80%;
    height: 553px;
}

#img-happi {
    max-width: 37%;
    margin: 30px 0 0 162px;
}

#img-about {
    max-width: 80%;
    height: 544px;
}

img {
    max-width: 50%;
}

@media screen and (max-width: 1652px) {
    .text-help {
        width: 43%;
    }

    h2 {
        font-size: 50px;
    }

    .text-numb p {
        width: 71%;
    }

    .text-numb h2 {
        width: 91%;
    }
}
@media screen and (max-width:1446px) {
    #img-happi {
        margin: 5px 0 0 138px;
    }
    .happiness-text p {
        font-size: 12px;
        width: 85%;
    }
    h2 {
        font-size: 40px;
    }
    .happiness-content{
        gap: 30px;
    }
}
@media screen and (max-width:1240px) {
    .method {
        gap: 0;
        padding: 73px 0 74px 0;
        justify-content: space-evenly;
    }

    .text-method {
        width: 39%;
    }

    h3 {
        font-size: 50px;
    }

    h4 {
        width: 86%;
        font-size: 35px;
    }

    .suscribe-father {
        gap: 50px;
        padding: 83px 0 83px 52px;
    }

    .text-suscribe p {
        width: 66%;
    }

    .text-team p {
        width: 70%;
    }

    .img-help {
        max-width: 50%;
        translate: 497px -124px;
    }

    h1 {
        font-size: 50px;
    }

    .how-happy {
        gap: 40px;
    }

    .text-happy {
        width: 35%;
    }

    #name,
    #surname {
        width: 190px;
        height: 33px;
    }

    #email,
    #password,
    #text {
        width: 400px;
        height: 33px;
    } 
    .suscribe-form{
        width: 550px;
        height: 500px;
        padding: 32px 0 26px 0;
    }
}
@media screen and (max-width: 1108px) {
    .btn-more{
        width: 131px;
        height: 34px;
    }
    #img-happi{
        margin-top: -30px;
    }
    h2 {
        padding-top: 32px;
        font-size: 31px;
    }
}
@media screen and (max-width:995px) {
    #img-help {
        max-width: 75%;
        height: 394px;
    }
    .img-help {
        max-width: 50%;
        translate: 362px -124px;
    }
    .text-help {
        width: 53%;
    }
    .img-numb {
        display: flex;
        gap: 20px;
        max-width: 35%;
    }
    #img-happi{
        margin: -68px 0px 0px 151px;
    }
    .happiness-text p {
        font-size: 12px;
        width: 98%;
    }
}
@media screen and (max-width:815px) {
    .how-happy {
        flex-direction: column-reverse;
        align-items: center;
    }
    .text-happy {
        width: 62%;
        text-align: center;
    }
    .how-happy img {
        margin: auto;
    }
    h2 {
        font-size: 34px;
    }
    .can-help{
        align-items: center;
        text-align: center;
    }
    .happiness-numb {
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }    
    .img-numb {
        padding-top: 35px;
    }
    
    .text-numb h2,
    .text-numb p,
    .text-help p{
        width: auto;
    }
    .text-help {
        margin: 40px;
    }
    .img-help{
        translate: 0;
    }
    #img-help {
        max-width: 75%;
        height: 311px;
        margin: 40px;
    }
    #img-about {
        max-width: 65%;
        height: 405px;
    }
    .our-team{
        padding: 0;
        flex-direction: column-reverse;
        align-items: center;
    }
    .text-team{
        text-align: center;
        align-items: center;
        width: 84%;
    }
    .method{
        flex-direction: column;
        align-items: center;
    }
    .text-method{
        align-items: center;
        text-align: center;
        width: 75%;
        padding-bottom: 30px;
    }
    .suscribe-father{
        flex-direction: column-reverse;
        align-items: center;
        padding: 40px 0 40px 0;
    }
    .text-suscribe{
        width: 80%;
        align-items: center;
        text-align: center;
    }
    .suscribe-form {
        width: 470px;
        height: 477px;
    }
    #email, #password, #text {
        width: 322px;
    }
    #name, #surname {
        width: 150px;
    }
    #p-form{
        text-align: center;
    }
    .happiness-content{
        width: 58%;
        flex-direction: column;
        align-items: center;
    }
    .happiness-text {
        align-items: center;
        text-align: center;
    }
    #img-happi1{
        padding-top: 36px;
        border-radius: 40px;
    }
    #img-happi {
        margin: 20px;
    }
}
@media screen and (max-width:552px) {
    header{
        flex-direction: column;
        font-size: 12px;
    }
    ul{
        padding-top: 20px;
        gap: 19px;
    }
    h2{
        font-size: 24px;
    }
    .suscribe-form {
        width: 273px;
        height: 504px;
    }
    #name, #surname {
        width: 107px;
        height: 25px;
    }
    #email, #password, #text {
        width: 229px;
    }
    #p-form {
        font-size: 11px;
        width: 83%;
    }
    .content-footer{
        flex-direction: column;
        align-items: center;
    }
    .end{
        padding: 44px 0 67px 19px;
    }
    .img-footer{
        padding-top: 20px;
    }
    #img-help {
        max-width: 146%;
        height: 250px;
    }
    .text-help {
        width: 79%;
    }
    .happiness-content {
        width: 77%;
    
    }
    #img-happi1 {
        max-width: 61%;
    }
    #img-happi {
        max-width: 62%;
    }
    .about p{
        width: 76%;
    }
    #img-about {
        height: 247px;
    }
    .text-team {
        width: 100%;
    }
    img {
        max-width: 82%;
    }
    .img-numb {
        justify-content: center;
    }
    .happiness-numb{
        max-width: 75%;
    }
    .text-method{
        width: 100%;
    }
    .text-suscribe {
        width: 100%;
    }
}